@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
    @font-face {
        font-family: "Averta";
        font-weight: 400;
        src: url(./fonts/SF-Pro-Text-Regular.woff2) format("woff2");
    }
    @font-face {
        font-family: "Averta";
        font-weight: 500;
        src: url(./fonts/SF-Pro-Text-Medium.woff2) format("woff2");
    }
    @font-face {
        font-family: "Averta";
        font-weight: 600;
        src: url(./fonts/SF-Pro-Text-SemiBold.woff2) format("woff2");
    }
    @font-face {
        font-family: "Averta";
        font-weight: 700;
        src: url(./fonts/SF-Pro-Text-Bold.woff2) format("woff2");
    }

    body {
        @apply font-averta overflow-x-hidden;
    }

    h1 {
        @apply font-bold; 
        @apply text-3x1 md:text-7x1;
        @apply leading-tight;
    }

    p {
        @apply text-xs md:text-sm;
        @apply font-normal;
    }

    h3 {
        @apply text-4xl font-gabriela;
    }
}