.fade-enter h5 {
    opacity: 0;
    transform: translateX(-1%);
  }
  .fade-enter-active h5 {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit h5 {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit-active h5 {
    opacity: 0;
    transform: translateX(4%);
  }
  .fade-enter-active h5,
  .fade-exit-active h5 {
    transition: opacity 250ms, transform 400ms;
  }