.SliderCard { 
    position:absolute; 
    transition: margin-left .3s ease-in-out, opacity .3s ease-in-out, scale .3s ease-in-out;
    margin-left:-2rem;
    opacity:0%;
}

.CardSelected {
    margin-left:0rem;
    opacity: 100%;
    scale:1;
    z-index:2;
}

.CardBeforeSelected {
    margin-left:5rem;
    opacity: 30%;
    scale:0.95;
    z-index:1;
}